.nav-ideas {
    margin: auto;
    height: 26px;
    color: #1C3868;
    padding: 2px;        
}

.right-arrow:after {
    content:'\25BA';
    padding-left: 4px;
    padding-right: 4px;
}

.form_vote_boat    {
    margin:auto;
    position:relative;
    width: auto; /* 550px */
    height: auto; /* 450px */
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 16px;
    font-style: bold;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
}

#new_poll {
    font-size: 34px;
    font-style: bold;
}

.vote_boat_input    {
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    margin-bottom: 10px;/* 50px; */
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius:5px
}
    
    #id_username {
    width:150px; 
    }
    
    #id_email {
    width:250px;
    }
    
.vote_boat_text_area    {
    width:375px;
    height:100px;
    display:block;
    border: 1px solid #999;
    height: 100px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius:5px;
}

.button {
    width:100px;
    position:absolute;
/*     right:20px; */
/*     bottom:-200px; */
    background:#FAFAFA;
    color:#000;
    font-style: bold;    
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    border: 1p solid #999;
}
    .button:hover {
        background:#09C;
        color:#FAFAFA;
    }
/* 
YOU NEED
Fields:
name
email
poll
description
 */
/* Tahoma, Geneva, sans-serif; */

